<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Permission Portal</title>
	{% load staticfiles %}
    <link href= "{% static 'Permission/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'Permission/dashboard.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'Permission/js/ie-emulation-modes-warning.js' %}"></script>
  </head>

  <body>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Permission/js/jquery.js"></script>
    <script src="{% static 'Permission/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Permission/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'Permission/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
