<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IITG Vehicle Security and Management Portal</title>

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <link href="{% static 'vms/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vms/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'vms/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vms/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vms/css/pace-theme-barber-shop.css' %}" rel="stylesheet" />

    <!-- jQuery -->
    <script src="{% static 'vms/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vms/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vms/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'vms/dist/js/sb-admin-2.js' %}"></script>
    <script src="{% static 'vms/js/pace.min.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; height: 150px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
                <img style=" margin-left:270px"  src="{%static 'vms/images/hindi-banner.gif' %}" />
                <div style="margin-left:270px;">

					<div class="info-side" style="border:0px solid #000000;height:23px;margin:auto;">
					<font color="#000" size="4px">Indian Institute of Technology, Guwahati</font>
					</div>

					<div class="info-side" style="border:0px solid #000000;height:35px;margin:auto;">
					<font color="#777777" size="3px">Guwahati - 781039, INDIA</font>
					</div>

				</div>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>{{username}}</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                       
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                {% if is_user %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Complaint 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Complaints</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Complaints
                                   
                                </div>
                            </a>
                        </li>
                     
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Complaints</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                {% elif is_admin %}

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Complaint 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Complaints</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>

                {% endif %}
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                       
                        <li class="divider"></li>
                        <li><a href="/vms/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->


            <div  class="navbar-default sidebar"  role="navigation" >
            	<img style="margin-top:-47px; margin-left:20px; display:inline; " width="150px" height="150px" src="{% static 'vms/images/logo-iitg.gif' %}" />
            	
                <div  height="200px" class="sidebar-nav navbar-collapse" style="margin-top: 30px;" >
                    <ul class="nav" id="side-menu" >
                        <li>
                            <a href="/vms/dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>
                        
                        {% if user.is_superuser %}
                        <li>
                            <a href="/vms/admin/guards-on-duty"><i class="fa fa-car fa-car"></i>Guards On Duty</a>
                        </li>
                        {% endif %}

                        <li>
                            <a href="/vms/parking-slot-availability"><i class="fa fa-edit fa-fw"></i>Parking Slot Availability</a>
                        </li>

                        {% if user.is_superuser %}
                        <li>
                            <a href="/vms/admin/parking-slot-update"><i class="fa fa-edit fa-fw"></i>Parking Slot Update</a>
                        </li>
                        {% endif %}
                        
                        {% if user.is_superuser or user.user.is_security %}
                        <li>
                            <a href="/vms/security/log"><i class="fa fa-edit fa-fw"></i>Entry/Exit Log</a>
                        </li>
                        {% endif %}
                        
                        {% if user.user.is_security %}
                        <li>
                            <a href="/vms/security/log-form"><i class="fa fa-edit fa-fw"></i>Entry/Exit Form</a>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}
                        <li>
                            <a href="/vms/admin/upload-log"><i class="fa fa-edit fa-fw"></i>Upload Entry/Exit</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/vms/theft-report-form"><i class="fa fa-edit fa-fw"></i>Theft Report Form</a>
                        </li>
                        <li>
                            <a href="/vms/vehicles-missing"><i class="fa fa-edit fa-fw"></i>Vehicles Missing</a>
                        </li>
                        <li>
                            <a href="/vms/suspicious-vehicle-report-form"><i class="fa fa-edit fa-fw"></i>Suspicious Vehicle Report Form</a>
                        </li>
                        <li>
                            <a href="/vms/suspicious-vehicles"><i class="fa fa-edit fa-fw"></i>Suspicious Vehicles</a>
                        </li>
                        
                        <!-- This will lead to page where you can block a pass and also see the list. However, blocking feature only for the superusers -->             
                        {% if user.is_superuser or user.user.is_security %}
                        <li>
                            <a href="/vms/security/passes"><i class="fa fa-edit fa-fw"></i>Entry Passes</a>
                        </li>
                        {% endif %}

                        {% if user.is_superuser %}
                        <li>
                            <a href="/vms/admin/block-passes"><i class="fa fa-edit fa-fw"></i>Blocked Passes</a>
                        </li>
                        {% endif %}
                                    
                        {% if not user.user.is_security and user.user.is_student %}
                        <li>
                            <a href="/vms/users/register-vehicle"><i class="fa fa-car fa-car"></i>Student Vehicle Registration Form</a>
                        </li>
                        {% endif %}
                        {% if not user.user.is_security and not user.user.is_student %}
                        <li>
                            <a href="/vms/users/register-vehicle"><i class="fa fa-car fa-car"></i>Employee Vehicle Registration Form</a>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}
                        <li>
                            <a href="/vms/admin/registered-vehicles"><i class="fa fa-edit fa-fw"></i>Vehicles Registered</a>
                        </li>
                        <li>
                            <a href="/vms/admin/add-users"><i class="fa fa-edit fa-fw"></i>Add Users</a>
                        </li>
                        <li>
                            <a href="/vms/admin/edit-user-details"><i class="fa fa-edit fa-fw"></i>Edit User Details</a>
                        </li>
                        <li>
                            <a href="/vms/admin/security"><i class="fa fa-edit fa-fw"></i>Guards List</a>
                        </li>
                        <li>
                            <a href="/vms/admin/admin-role"><i class="fa fa-edit fa-fw"></i>Admin Role Panel</a>
                        </li>
                        <li>
                            <a href="/vms/admin/update-bus-details"><i class="fa fa-edit fa-fw"></i>Update Bus Details</a>
                        </li>
                        {% endif %}

                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

            <!-- 
                user.is_superuser line ober here elif
            <div  class="navbar-default sidebar"  role="navigation" >
                <img style="margin-top:-47px; margin-left:20px; display:inline; " width="150px" height="150px" src="{% static 'vms/images/logo-iitg.gif' %}" />
                
                <div  height="200px" class="sidebar-nav navbar-collapse" style="margin-top: 30px;" >
                    <ul class="nav" id="side-menu" >
                        
                        <li>
                            <a href="/vms/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/vms/admin/bus_timing"><i class="fa fa-car fa-car"></i>  Bus timing update</a>
                        </li>
                        <li>
                            <a href="/vms/admin/passes"><i class="fa fa-edit fa-fw"></i> Campus Pass Management</a>
                        </li>
                        Karthik:Merged block passes with the view passes feature<li>
                            <a href="block.html"><i class="fa fa-edit fa-fw"></i> Block passes</a>
                        </li>
                        <li>
                            <a href="/vms/admin/theft"><i class="fa fa-edit fa-fw"></i> Theft report</a>
                        </li>
                        <li>
                            <a href="report.html"><i class="fa fa-edit fa-fw"></i> Theft report display</a>
                        </li>
                        <li>
                            <a href="/vms/admin/suspicious_display"><i class="fa fa-edit fa-fw"></i> Suspicious vehicles display</a>
                        </li>
                        <li>
                            <a href="/vms/admin/logs"><i class="fa fa-edit fa-fw"></i> Log form</a>
                        </li>
                        <li>
                            <a href="/vms/admin/register-vehicle"><i class="fa fa-edit fa-fw"></i> Vehicle registration form</a>
                        </li>
                        <li>
                            <a href="/vms/admin/registered-vehicles"><i class="fa fa-edit fa-fw"></i> Vehicles registered today</a>
                        </li>
                        
                    </ul>
                </div>
                
             </div> 

end if statement in this line
            <!-- /.navbar-static-side -->
        </nav>
