{% include "site_base.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                 <h2 class="page-header">Bus Details {{buses.0.bus_no}}
            </h2>
            </br>
            <h4>{{message}}</h4>
                
</br>

                
        </div>
            <!-- /.container-fluid -->
            
        
        <div class="col-lg-6" style="margin-left:5%">
                
        </div>
        <!-- /#page-wrapper -->
        </div>
</body>
</html>
