<!-- Shows pending Permission -->
{% extends "base.html" %}
{% block pending-permissions %} class="active" {% endblock %}
{% block main %}
<h1 class="page-header">Pending Permissions</h1>
<table class="table table-striped">
{% if group_has_tasks %}
    <p>List of permissions awaiting your response</p>
    <thead>
        <th>Applicant name</th>
        <th>Permission Type</th>
        <th>Status</th>
        <th>Comment</th>
    </thead>
    <tbody>
    {%for task in tasks %}
        {% for group in groups %}
            {% if task.current_group == group %}
                <tr>
                    <td>{{ task.user_name}}</td>
                    <td>{{ task.template_id }}</td>
                    <td><a href="/Permission/{{ task.id }}/pending/">{{ task.status }}</a></td>
                    <td>{{ task.comment }}</td>
                </tr>  
            {% endif %}
        {%endfor %}
    {%endfor %}
    </tbody>
{% else %}
</table>
<p>You have no more pending previous permissions.</p>

{% endif %}
{% endblock %}
