
{% include 'site_base.html' %}
<div id="page-wrapper">
<h2>Theft Reports</h2>

            <div class="container-fluid form-horizontal">
<hr>
<table id="myTable" class="table table-striped">
<thead>
    <tr>
        <th>Theft Report ID</th>
        <th>Vehicle Owner</th>
        <th>Vehicle Model</th>
        <th>Theft Date</th>
        <th>Theft Place</th>
    </tr>
</thead>
<tbody>
{% for report in reports %}
<tr>
    <td>{{report.id}}</td>
    <td>{{report.reporter.first_name}} {{report.reporter.last_name}}</td>
    {% if report.reporter.user.is_student %}
        <td>{{report.stud_vehicle.make_and_model}}</td>
    {% else %}
        <td>{{report.emp_vehicle.make_and_model}}</td>
 
    {% endif %}
    <td>{{report.theft_time}}</td>
    <td>{{report.theft_place}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script>
$(document).ready(function(){
    $('#myTable').dataTable({
        search: { search : "{{initSearch}}", },
    });
});    
</script>


