{% include "site_base.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                 <h2 class="page-header">Report Theft
                <span style="font-size: 14px; margin-left: 20px;">
                    <a href="/vms/your-theft-reports">View your reports</a>
                </span>
            </h2>
            </br>
            <form action="/vms/theft-report-form/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <table class="col-sm-12 col-md-11">
                        {% for field in form %}
                            <tr>
                                <td class="col-sm-3 col-md-3">{{ field.label_tag }}</td>
                                <td class="col-sm-6 col-md-4">{{ field }}</td>
                                <td class="col-sm-3 col-md-5">{{ field.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                </br>
                <div class="row">
                       <button type="submit" class="btn btn-default col-md-offset-5 col-xs-offset-7">Submit(CHANGE FORM SUBMIT)</button>
                </div>
            </form>                            
            </div>
            <!-- /.container-fluid -->
            
        
        <div class="col-lg-6" style="margin-left:5%">
                
        </div>
        <!-- /#page-wrapper -->
        </div>
</body>
</html>
