{% include 'site_base.html' %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    
                    <!-- /.col-lg-12 -->
		<form action="admin/viewcsv/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		{% if messages %}
                <ul class = "messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
                    {% endfor %}
                </ul>
                {% endif %} 
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
      
      

<hr>

        </div>

    <!-- /#wrapper -->


</html>

