{% include "site_base.html" %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Welcome {{username}}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
			
			<div class="panel-body">
       			
        </div>
		<div class="row">
		<center>
		<div class="col-lg-6" style="margin-left:5%">
                 
        <!-- /#page-wrapper -->
		</div>
		</center>
		
				<div class="col-lg-3" style="margin-left:13%">
				<center>	
                    
					</center>
				</div>
				</div>
    <!-- /#wrapper -->
</body>

</html>
