{% include "site_base.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                 <h2 class="page-header">Parking Slot Update
            </h2>
            </br>
                                    <font {% if not success%}color="red"{% else %}color="green"{% endif %}>{{ message }}</font>
                <div class="form-group">
                    <table class="table table-striped table-bordered table-hover" id="parking_slot_update">
                    <thead>
                        <th>Parking Area Name</th>
                        <th>Total Slots</th>
                        <th>Available Slots</th>
                        <th>Update</th>
                    </thead>
                    <tbody>
                    {% for parking in parkings %}
                    <tr>
                <form class="form-inline" role="form" action="/vms/admin/parking-slot-update/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <td><label id="label_parking_area_name">{{parking.parking_area_name}}</label><input id="parking_area_name" name="parking_area_name" style="display:none"value="{{parking.parking_area_name}}"></td>
                        <td><input id="total_slots" value="{{parking.total_slots}}" class="form-control" name="total_slots" type="number" required/></td>
                        <td><input class="form-control" name="available_slots" value="{{parking.available_slots}}" type="number" required/></td>
                    <td><div class="row">
                       <button type="submit" class="btn btn-default col-md-offset-5 col-xs-offset-7">Submit</button>
                    </div></td>
                </form>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                </div>
</br>

                
        </div>
            <!-- /.container-fluid -->
            
        
        <div class="col-lg-6" style="margin-left:5%">
                
        </div>
        <!-- /#page-wrapper -->
        </div>
</body>
<script>
                    $(document).ready(function(){
                        $('#parking_slot_update').dataTable();
                    });
                    </script>
</html>
