{% include "site_base.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                 <h2 class="page-header">Parking Slot Update
            </h2>
            </br>
            <h4>{{message}}</h4>
                <div class="form-group">
                    <table class="table table-striped">
                    {% for parking in parkings %}
                <form class="form-inline" role="form" action="/vms/admin/parking-slot-update/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <tr>
                        <td><label>Parking Name</label></td>
                        <td><input name="parking_area_name" value="{{parking.parking_area_name}}"></label></td>
                    </tr>
                    <tr>
                        <td><label>Total Slots</label></td>
                        <td><input id="total_slots" value="{{parking.total_slots}}" class="form-control" name="total_slots" type="number"/></td>
                    </tr>
                    <tr>
                        <td><label>Available Slots</label></td>
                        <td><input class="form-control" name="available_slots" type="number" /></td>
                    <td><div class="row">
                       <button type="submit" class="btn btn-default col-md-offset-5 col-xs-offset-7">Submit</button>
                    </div></td>
                    </tr>
                </form>
                {% endfor %}
                </table>
                </div>
</br>

                
        </div>
            <!-- /.container-fluid -->
            
        
        <div class="col-lg-6" style="margin-left:5%">
                
        </div>
        <!-- /#page-wrapper -->
        </div>
</body>
</html>
