{% include 'site_base.html' %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">ADD FORMS!!!Welcome {{username}}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
			
			<div class="panel-body">
        </div>
		<div class="row">
		<center>
		<div class="col-lg-6" style="margin-left:5%">
                 <form class="form-horizontal">
  <div class="form-group">
    <label style="margin-left:10%"  class="col-sm-5 control-label">Total passes till yesterday :</label>
    <div class="col-sm-5">
      <input class="form-control" id="Total passes till yesterday " placeholder="Total passes till yesterday ">
    </div>
  </div>
  <div class="form-group">
    <label style="margin-left:10%"  class="col-sm-5 control-label">Total passes issued today :</label>
    <div class="col-sm-5">
      <input class="form-control" id="Total passes issued today" placeholder="Total passes issued today ">
    </div>
  </div>
  
  <div class="form-group">
    <label style="margin-left:10%"   class="col-sm-5 control-label">Total passes alloted till today:</label>
    <div class="col-sm-5">
      <input class="form-control" id="Time to update" placeholder="Total passes alloted till today">
    </div>
  </div>
  </br>
</form>        
		</div>
		</center>	

        <div class="row">
        <center>
        <div class="col-lg-6" style="margin-left:5%">
            <hr />SECTIONATE THIS!!
                 <form class="form-horizontal">
  <div class="form-group">
    <label style="margin-left:10%"  class="col-sm-5 control-label">Pass number to be blocked :</label>
    <div class="col-sm-5">
      <input class="form-control" id="Pass number to be blockedy " placeholder="Enter the pass number to be blocked ">
    </div>
  </div>
  <div class="form-group">
    <label style="margin-left:10%"  class="col-sm-5 control-label">Reason for blocking the pass :</label>
    <div class="col-sm-5">
      <input class="form-control" id="Reason for blocking the pass" placeholder="Reason for blocking the pass ">
    </div>
  </div>
  </br>
  <button style="margin-left: 10%" type="button" class="btn btn-primary">Block</button>
</form>
        <!-- /#page-wrapper -->
        </div>
        </center>
    </div>
</div>
    <!-- /#wrapper -->
</body>

</html>
