{% include 'site_base.html' %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Passes alloted to Visitors</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
      
      <div class="panel-body">
        </div>
    <div class="row">
    <center>
    <div class="col-lg-6" style="margin-left:5%">
                 <form class="form-horizontal">
  <form class="form-horizontal">
        <div class="form-group">
          <label style="margin-left:10%"  class="col-sm-5 control-label">Total Issued Passes </label>
          <div class="col-sm-5">
            <label class="form-control" id="id_pending_registrations"> {{total_issued}} pass(es) </label>
          </div>
          <label style="margin-left:10%"  class="col-sm-5 control-label">Total blocked passes: </label>
          <div class="col-sm-5">
            <label class="form-control" id="id_pending_registrations"> {{total_blocked}} pass(es) </label>
          </div>
          <label style="margin-left:10%"  class="col-sm-5 control-label">Expired passes: </label>
          <div class="col-sm-5">
            <label class="form-control" id="id_pending_registrations"> {{total_expired}} pass(es) </label>         
        </div>
        </div> 

    </form>

    </div>
    </center> 

        <div class="row">
        <center>
        <div class="col-lg-10" style="margin-left:5%">
        <hr>
<p></p>
<h3>List of Passes alloted till now</h3>
<hr>
                <table id="myTable" class="col-lg-6 table table-striped">
<thead>
    <tr>
        <th>Name</th>
        <th>Pass Number</th>
        <th>Expiry Date</th>
        <th>Blocked</th>
    </tr>
</thead>
<tbody>
{% for pass in passes %}
<tr>
    <td class="col-sm-3 col-md-3" ><a href = "/vms/{{ pass.id }}/personpass/" method="post"><span style="color:blue;">{{pass.name}}</span></td>
    <td class="col-sm-6 col-md-3">{{ pass.pass_number}}</td>
    <td class="col-sm-3 col-md-3" >{{ pass.expiry_date}}</td>
    <td class="col-sm-6 col-md-3">{{ pass.is_blocked}}</td>
</tr>
{% endfor %}
</tbody>
</table>
        <!-- /#page-wrapper -->
        </div>
        </center>
    </div>
</div>

    <!-- /#wrapper -->
</body>
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script> 
</html>


