{% include "site_base.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Welcome, {{username}}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
			
			<div class="panel-body">    
            </div>
		<div class="row">
		<center>
		<div class="col-lg-6" style="margin-left:5%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <font size="5"><i class="fa fa-rss-square fa-rss-square"></i> <b> News feed</b></font>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    
                                    <tbody>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
										</br>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
        <!-- /#page-wrapper -->
		</div>
		</center>
		
				<div class="col-lg-3" style="margin-left:13%">
				<center>	
                    <div class="panel panel-default">
					
                        <div class="panel-heading">
                            <font size="4"> <i class="fa fa-bus"></i> <b>Upcoming Buses</b></font>
                        </div>
                        <!-- /.panel-heading -->
						
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Bus Number</th>
                                            <th>Start Time</th>
                                            <th>Starting Point</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if buses.0 %}
                                        <tr class="success">
                                            <td>{{buses.0.bus_no}}</td>
                                            <td>{{buses.0.from_time}}</td>
                                            <td>{{buses.0.starting_point.place_name}}</td>                                            
                                        </tr>
                                        {% endif %}
                                        {% if buses.1 %}
                                        <tr class="info">
                                            <td>{{buses.0.bus_no}}</td>
                                            <td>{{buses.0.from_time}}</td>
                                            <td>{{buses.0.starting_point.place_name}}</td>                                            
                                        </tr>
                                        {% endif %}
                                        {% if buses.2 %}
                                        <tr class="warning">
                                           <td>{{buses.0.bus_no}}</td>
                                            <td>{{buses.0.from_time}}</td>
                                            <td>{{buses.0.starting_point.place_name}}</td>                                            
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                       </div>
                        <!-- /.panel-body -->
                    
					</div>
					</center>
				</div>
				</div>
    <!-- /#wrapper -->
</body>

</html>
